* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url('../fonts/OpenSans-Italic.ttf') format('ttf'),
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url('../fonts/OpenSans-Bold.ttf') format('ttf'),
}

div.parent {
  margin: 10px;
  border: 1px solid #CCC;
  width: 500px;
  height: 300px;

  img {
    width: 100px;
    border: 1px solid #000;
    float: left;
  }
  
  p {
    clear: both;
  }
}

div.parent2 {
  margin: 10px;
  border: 1px solid #CCC;
  width: 500px;
  height: 300px;

  img {
    display: block;
    width: 80px;
    border: 1px solid #000;
  }

  img.relative {
    position: relative;
    top: 20px;
    left: 20px;
  }
}

/******** FLEXBOX **************/

.flex-container {
  border: 4px solid #000;
  margin-bottom: 100px;
  display: flex;
  // flex-flow: row wrap;
  // align-items: stretch;
  // justify-content: space-around;
  flex-direction: row;
  // justify-content: space-around;
  // align-content: flex-start;
}

.flex-item {  
  padding: 1em;
  text-align: center;
  color: #FFF;
  flex: 1;
  
  P {
    text-align: left;
  }
}

.flex-item:first-child {
  background-color: rgb(255, 102, 102);
  flex: 0 0 50%;
}

.flex-item:nth-child(2) {
  background-color: #1AD;
}

.flex-item:nth-child(3) {
  background-color: #54A;
}

.flex-item:nth-child(4) {
  background-color: #7D3;
}

.flex-item:nth-child(5) {
  background-color: #6DD;
}

.flex-item:nth-child(6) {
  background-color: #A44;
}

.flex-item:last-child {
  background-color: #1F2;
}
